@model List<Product>
@{
    int number = 3;
}

Click Here for the Admin Page:<br />
<a href="/Admin/Admin"> Admin Page </a><br />

<br />

Here's the list:<br />
@foreach(Product cat in Model)
{
   // <a href="/Product/Category?catid=@cat.Category">@cat.Name</a><br />

    <a asp-action="Category" asp-controller="Product" asp-route-catid="@cat.ID">@cat.Name</a><br />
}

