@model List<Categories>
@{
    int number = 3;
}

Example Link Generated Dynamically:<br />
<a href="/Product/Test?catid=@number"> Test Link </a><br />

<br />

Here's the list:<br />
@foreach(Categories cat in Model)
{
   // <a href="/Product/Category?catid=@cat.Category">@cat.Name</a><br />

    <a asp-action="Category" asp-controller="Product" asp-route-catid="@cat.ID">@cat.Name</a><br />
}

